# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Env
.env
.env.local
.env.*.local

# OS / IDE
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# TypeScript
*.tsbuildinfo
